<div class="media">
    <h5>TOM BROWN</h5>
    <div class="media-left">
        <a href="#">
            <img src="/images/user.jpg" title="One movies" alt=" " />
        </a>
    </div>
    <div class="media-body">
        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
        <span>View all posts by :<a href="#"> Admin </a></span>
    </div>
</div>