<div class="media">
    <h5>{{username}}</h5>
    <div class="media-left">
        <a href="#">
            <img src="/images/user.jpg" title="One movies" alt=" " />
        </a>
    </div>
    <div class="media-body">
        <p>{{review}}</p>
        <span>Created At: <a href="#"> {{created_at}} </a></span>
    </div>
</div>