<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genres <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <li>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="genres.html">Action</a></li>
                                            <li><a href="genres.html">Adventure</a></li>
                                            <li><a href="genres.html">Role-playing</a></li>
                                            <li><a href="genres.html">Action RPG</a></li>
                                            <li><a href="horror.html">Simulation</a></li>
                                            <li><a href="genres.html">Strategy</a></li>
                                            <li><a href="genres.html">Sports</a></li>
                                            <li><a href="genres.html">Racing</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="genres.html">Survival </a></li>
                                            <li><a href="comedy.html">Platform </a></li>
                                            <li><a href="genres.html">Casual</a></li>
                                            <li><a href="genres.html">Fantasy</a></li>
                                            <li><a href="genres.html">FPS</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="genres.html">Board</a></li>
                                            <li><a href="genres.html">Puzzle</a></li>
                                            <li><a href="genres.html">MMORPG</a></li>
                                            <li><a href="genres.html">Sandbox RPG</a></li>
                                            <li><a href="genres.html">Stealth</a></li>
                                            <li><a href="genres.html">Educational</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="series.html">Latest</a></li>
                        <li><a href="news.html">news</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Country <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <li>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="genres.html">Asia</a></li>
                                            <li><a href="genres.html">France</a></li>
                                            <li><a href="genres.html">Taiwan</a></li>
                                            <li><a href="genres.html">United States</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="genres.html">China</a></li>
                                            <li><a href="genres.html">HongCong</a></li>
                                            <li><a href="genres.html">Japan</a></li>
                                            <li><a href="genres.html">Thailand</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="genres.html">Euro</a></li>
                                            <li><a href="genres.html">India</a></li>
                                            <li><a href="genres.html">Korea</a></li>
                                            <li><a href="genres.html">United Kingdom</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="short-codes.html">Short Codes</a></li>
                        <li><a href="list.html">A - z list</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>